{% form_theme form '@Wcm/Layout/shared/styl_builder_form_layout.html.twig' %}
{{ form_start(form, {"attr":{"class":"col-12"}}) }}

{% import '@Wcm/image/shared/_delete_form.html.twig' as macroForm %}


{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}

{#                            {% do form.setRendered %}#}


<div class="row">
    <div class="col-md-9 col-sm-12 ml-auto mr-auto">
        <h2>{{ 'image.image'|trans({}, 'image') }}</h2>
        <div id="images"
             data-prototype="{% include '@Wcm/image/shared/_prototype.html.twig' with { 'image': form.images.vars.prototype } %}"
             data-widget-tags="{{ '<div></div>'|e }}"
             data-widget-counter="{{ form.images|length }}"
             class="col-12">

            <div class="material-datatables">
                <table id="images"
                       class="table table-striped table-no-bordered table-hover dataTable dtr-inline"
                       cellspacing="0" width="100%" style="width:100%">
                    <thead>
                    <tr>
                        <th width="30px"> {{ 'image.id'|trans({}, 'image') }}</th>
                        <th> {{ 'image.title'|trans({}, 'image') }}</th>
                        <th> {{ 'image.alt'|trans({}, 'image') }}</th>
                        <th style="text-align: center"> {{ 'image.thumbnail'|trans({}, 'image') }}</th>
                        <th> {{ 'image.updatedAt'|trans({}, 'image') }}</th>
                        <th class="w-15 text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th width="30px"> {{ 'image.id'|trans({}, 'image') }}</th>
                        <th> {{ 'image.title'|trans({}, 'image') }}</th>
                        <th> {{ 'image.alt'|trans({}, 'image') }}</th>
                        <th style="text-align: center"> {{ 'image.thumbnail'|trans({}, 'image') }}</th>
                        <th> {{ 'image.updatedAt'|trans({}, 'image') }}</th>
                        <th class="w-15 text-right">{{ 'bci.cms.general.actions'|trans({}, 'cms_bundle') }}</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for uploadedImage in form.images %}
                        {{ form_widget(uploadedImage, { 'attr': {'class': 'hidden-row','style' : 'display:none'} }) }}
                    {% endfor %}

                    {% for image in product.images %}
                        {% if image.id != null %}
                            <tr>
                                <td width="30px">{{image.id}}</td>
                                <td>{{ image.title }}</td>
                                <td>{{ image.alt }}</td>
                                <td>
                                    <a href="{{ asset('uploads/images/' ~ image.file) }}">
                                        <img class="img-thumbnail" src="{{ asset('uploads/images/' ~ image.file) }}" alt="{{ image.title }}" width="130" height="100" style="margin-top: 5px;margin-bottom: 5px">
                                    </a>
                                </td>
                                <td>{{image.updatedAt|date('Y-m-d H:i:s')}}</td>
                                <td class="text-right">
                                    <a rel="tooltip" title="{{ 'bci.cms.general.action.edit'|trans({}, 'cms_bundle') }}"
                                       data-originial-title="{{ 'bci.cms.general.action.edit'|trans({}, 'cms_bundle') }}"
                                       class="btn btn-link btn-just-icon"
                                       id="bntEditImage" data-ice="app.modalEditImage" data-ice-params='["{{ image.title }}","{{ image.alt }}","{{ image.id }}"]'>
                                        <i class="material-icons">edit</i>
                                    </a>

                                    <a data-toggle="tooltip" data-placement="top" class="btn btn-link btn-just-icon" data-ice="app.delete_submit" data-ice-params="#{{image.id}}" title="{{ 'image.action.removeImage'|trans({}, 'image') }}">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <a {% if image.isPrincipal %}
                                        style="color: limegreen"
                                    {% endif  %}
                                            data-toggle="tooltip" data-placement="top" class="btn btn-link btn-just-icon" data-ice="app.setPrincipal" data-ice-params="{{ path('setImagePrincipal', {'imageID':image.id, 'productID': product.id}) }}" title="{{ 'image.action.setPrincipal'|trans({}, 'image') }}">
                                        <i class="material-icons">check</i>
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="5">{{ 'image.errors.noRecord'|trans({}, 'image') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <button style="margin-top: 5.52222vh"
                    type="button"
                    class="btn btn-rose float-right"
                    data-list-selector="#metas"
                    data-ice="app.addFromPrototype"
                    data-container="#images">{{ 'image.action.addImage'|trans({}, 'image') }}
            </button>
        </div>
    </div>
{#    {% do form.images.setRendered %}#}
</div>



    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<div id="DELETEFORM">
    {% for image in product.images %}
        {% if image.id != null %}
            {{ macroForm.formDelete(image.id, product.id) }}
        {% endif %}
    {% endfor %}
</div>
