{% extends '@Wcm/Layout/base.html.twig' %}

{% block stylesheets %}
    {% include '@Wcm/Layout/_partial/_stylesheet.html.twig' %}
{% endblock %}

{% block body %}
    <div id="wrapper">
        {% block header %}
            {% include '@Wcm/Layout/_partial/_header.html.twig' %}
        {% endblock %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% block topbar %}
                    <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.username }}</span>
                                    <i class="fas fa-fw fa-user"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="/">
                                        <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
                                        View website
                                    </a>
                                    <a class="dropdown-item" href="{{ path('wcm_user_show', {'id': app.user.id}) }}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                {% endblock %}
                {% set title = title|default(app.request.attributes.get('_route')|replace({'_': ' '})|capitalize) %}
                <div class="container-fluid">
                    <h1 class="h3 mb-0 text-gray-800 mb-4">{{ title }}</h1>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
                        </div>
                        <div class="card-body">
                            {% block content %}
                            {% endblock %}
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between">
                            {% block content_inside_footer %}
                            {% endblock %}
                        </div>
                    </div>
                    {% block content_outside_footer %}
                    {% endblock %}
                </div>
            </div>
            {% block footer %}
                {% include '@Wcm/Layout/_partial/_footer.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% include '@Wcm/Layout/_partial/_javascript.html.twig' %}
{% endblock %}
