{% extends '@Wcm/Layout/layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block content_inside_footer %}
    {{ include('@Wcm/_shared/_delete_form.html.twig', {'route': 'wcm_page_delete', 'id': page.id}) }}
    <button class="btn btn-primary float-right">Update</button>

{% endblock %}
{% block content_outside_footer %}
    <a class="px-2 mt-5 d-block" href="{{ path('wcm_pages_index') }}">back to list</a>
{% endblock %}
