{% extends '@Wcm/Layout/layout.html.twig' %}


{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <a href="{{ path('app_wcm_user_show', {'id': user.id}) }}">voir</a>
                    <a href="{{ path('app_wcm_edit_user', {'id': user.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_wcm_add_user') }}">Ajouter</a>
{% endblock %}


