{% extends '@Wcm/Layout/layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block content_inside_footer %}
    <a class="btn btn-primary ml-auto" href="{{ path('wcm_user_add') }}">Ajouter</a>
{% endblock %}

{% block content_outside_footer %}
    <a class="px-2 mt-5 d-block" href="{{ path('wcm_users_index') }}">back to list</a>
{% endblock %}
