
{% autoescape 'html_attr' %}
<table class='table images-ctn'>
    <tr>
        <td>{{ form_label(image.title, null, { 'label_attr': {'class': 'col-sm-12'} }) }}
            {{ form_widget(image.title, { 'attr': {'class': 'form-control'} }) }}
        </td>
        <td>{{ form_label(image.alt, null, { 'label_attr': {'class': 'col-sm-12'} }) }}
            {{ form_widget(image.alt, { 'attr': {'class': 'form-control'} }) }}
        </td>
        <td>
            {{ form_widget(image.fileTemp, { 'attr': {'class': 'form-control float-left'} }) }}
        </td>
        <td>
            <button data-ice='app.removePrototype' class='btn btn-danger float-left' data-ice-params='{{ {ctn: '.images-ctn'}|json_encode }}'>X</button>
        </td>
    </tr>
</table>
{% endautoescape %}
