{% extends '@Wcm/Layout/layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" hidden id="submit">
    {{ form_end(form) }}
{% endblock %}

{% block content_inside_footer %}
    {% if app.request.get('id') %}
        <form method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.request.get('id')) }}">
            <button class=" btn btn-danger">Supprimer</button>
        </form>
    {% endif %}
    <label for="submit" class="btn btn-primary ml-auto mb-0" tabindex="0">
        {{ app.request.get('id') ? 'Enregistrer' : 'Ajouter' }}
    </label>
{% endblock %}

